<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/fdc7ea6453.js" crossorigin="anonymous"></script>
  <title>Perfil</title>
</head>
<body>
  <div class="container-menor">
    <div class="container-perfil">
      <div class="row">
        <h1>Welcome <%= user.name %></h1>
      </div>
      <label for="email"><h4><i class="far fa-envelope"></i> E-mail</h4></label>
      <input type="text" class="input-perfil" id="email" value="<%= user.email %> " disabled>
      <label for="username"><h4><i class="fas fa-at"></i> Username</h4></label>
      <input type="text" id="username" class="input-perfil" value="<%= user.username %> " disabled>
      <label for="member-since"><h4><i class="fas fa-medal"></i> Member Since</h4></label>
      <input type="text" id="member-since" class="input-perfil" value="<%= date.dayNumber %> <%= date.month %>, <%= date.year %>" disabled>
      <div class="row">
        <form action="/logout" method="post">
          <button class="button-perfil" type="submit">Logout <i class="fas fa-sign-out-alt"></i></button>
        </form>
      </div>
      <footer>
        <small>Created and developed by Jacksson Andrey.</small>
      </footer>
    </div>
  </div>
</body>
</html>